@using DebtSnowballer.Shared.Currency
<br>
<br>

<h3>Select your base currency</h3>
<p>SupportedCurrencies loans will be converted to your base currency. SupportedCurrencies calculations and reports will also be made using this currency.</p>
<br>
@if (BaseCurrency == null)
{
	<p>
		<em>Loading strategies...</em>
	</p>
}
else
{
	<select @onchange="OnChange" value="@BaseCurrency">
		@foreach (CurrencyInfo currency in Currencies.SupportedCurrencies)
		{
			<option value="@currency.AlphaCode">@currency.Name (@currency.AlphaCode)</option>
		}
	</select>
}

@code {

	[Parameter]
	public string BaseCurrency { get; set; }

	[Parameter]
	public EventCallback<string> UpdateBaseCurrency { get; set; }

	private async Task OnChange(ChangeEventArgs selectedCurrency)
	{
		await UpdateBaseCurrency.InvokeAsync(selectedCurrency.Value.ToString());
	}

}