@using DebtSnowballer.Shared.Currency


<select @onchange="OnChange" value="@UserCurrency">
	@foreach (CurrencyInfo currency in Currencies.All)
	{
		<option value="@currency.AlphaCode">@currency.Name (@currency.AlphaCode)</option>
	}
</select>

@code {

	[Parameter]
	public string UserCurrency { get; set; }

	[Parameter]
	public EventCallback<string> UpdatedBaseCurrency { get; set; }

	private async Task OnChange(ChangeEventArgs newCurrency)
	{
		await UpdatedBaseCurrency.InvokeAsync(newCurrency.Value.ToString());
	}
}