@using DebtSnowballer.Shared.DTOs
<br>
<br>

@if (DebtsInBaseCurrency != null)
{
	<div class="summary">
		<p>
			<strong>Total Amount Owed in Base Currency:</strong> @TotalAmountOwedInBaseCurrency.ToString("C")
		</p>
		<p>
			<strong>Total Monthly Payment in Base Currency:</strong> @TotalMonthlyPaymentInBaseCurrency.ToString("C")
		</p>
	</div>

	<DebtTable Debts="DebtsInBaseCurrency"/>
}

@code {

	[Parameter]
	public List<DebtDto> DebtsInBaseCurrency { get; set; }

	private decimal TotalAmountOwedInBaseCurrency => DebtsInBaseCurrency.Sum(debt => debt.RemainingPrincipal);
	private decimal TotalMonthlyPaymentInBaseCurrency => DebtsInBaseCurrency.Sum(debt => debt.MonthlyPayment);

	private async Task HandleSave(DebtDto debt)
	{
	// Handle the save operation here
	}

	private void HandleCancel()
	{
	// Handle the cancel operation here
	}

}