@using DebtSnowballer.Shared.DTOs
<h3>
	<br>
</h3>

<h3>Loan List</h3>
<br>
@if (DebtsInQuoteCurrency == null)
{
	<p>
		<em>Loading debts...</em>
		<MudProgressLinear Color="Color.Primary" Striped="true" Size="Size.Large" Value="75" Class="my-7"/>
	</p>
}
else
{
	<h3>List all your Debts in their respective</h3>
	<br>
	<DebtTable LoanDetails="DebtsInQuoteCurrency" GetCurrencySymbol="GetCurrencySymbol" LoadDebtsInQuoteCurrency="LoadDebtsInQuoteCurrency" CalculateData="CalculateData" IsReadOnly="false"/>

	<h3>
		<br>
	</h3>

	<h3>Debts converted to base currency</h3>
	<br>
	<DebtTable LoanDetails="DebtsInBaseCurrency" GetCurrencySymbol="GetCurrencySymbol" LoadDebtsInQuoteCurrency="LoadDebtsInQuoteCurrency" CalculateData="CalculateData" IsReadOnly="true"/>
}


@code {

	[Parameter]
	public List<LoanDetailDto> DebtsInQuoteCurrency { get; set; }

	[Parameter]
	public List<LoanDetailDto> DebtsInBaseCurrency { get; set; }

	[Parameter]
	public Func<string, string> GetCurrencySymbol { get; set; }

	[Parameter]
	public Func<Task> LoadDebtsInQuoteCurrency { get; set; }

	[Parameter]
	public Func<Task> CalculateData { get; set; }

}