@using DebtSnowballer.Shared.DTOs
@using DebtSnowballer.Client.ClientSideServices
@inject IDebtService DebtService

<h3>
	<br>
</h3>

<h3>List all your debts</h3>
<br>
@if (DebtsInQuoteCurrency == null)
{
	<p>
		<em>Loading debts...</em>
	</p>
}
else
{
	<DebtTable Debts="DebtsInQuoteCurrency" GetCurrencySymbol="GetCurrencySymbol" OnEditDebt="EditDebt" OnDeleteDebt="DeleteDebt" AreActionsShown="true"/>

	<button class="btn btn-success" @onclick="OnAddNewDebt">Add New Loan</button>

	<h3>
		<br>
	</h3>

	<h3>Debts converted to base currency</h3>
	<br>
	<DebtTable Debts="DebtsInBaseCurrency" GetCurrencySymbol="GetCurrencySymbol" OnEditDebt="EditDebt" OnDeleteDebt="DeleteDebt" AreActionsShown="false"/>

	<DebtForm LoanDetail="@_selectedLoanDetail" OnSave="SaveDebt" OnCancel="CancelEdit"/>
}


@code {
	private LoanDetailDto _selectedLoanDetail;

	[Parameter]
	public List<LoanDetailDto> DebtsInQuoteCurrency { get; set; }

	[Parameter]
	public List<LoanDetailDto> DebtsInBaseCurrency { get; set; }

	[Parameter]
	public Func<string, string> GetCurrencySymbol { get; set; }

	[Parameter]
	public Func<Task> LoadDebtsInQuoteCurrency { get; set; }

	[Parameter]
	public Func<Task> LoadDebtsInBaseCurrency { get; set; }

	private void OnAddNewDebt()
	{
		_selectedLoanDetail = new LoanDetailDto();
	}

	private async Task EditDebt(int id)
	{
		_selectedLoanDetail = await DebtService.GetDebtById(id);
	}

	private async Task DeleteDebt(int id)
	{
		await DebtService.DeleteDebt(id);
		await LoadDebtsInQuoteCurrency();
		await LoadDebtsInBaseCurrency();
	}

	private async Task SaveDebt(LoanDetailDto loanDetailItem)
	{
		if (loanDetailItem.Id == 0)
		{
			await DebtService.AddDebt(loanDetailItem);
		}
		else
		{
			await DebtService.UpdateDebt(loanDetailItem);
		}

		await LoadDebtsInQuoteCurrency();
		await LoadDebtsInBaseCurrency();
		_selectedLoanDetail = null;
	}

	private void CancelEdit()
	{
		_selectedLoanDetail = null;
	}

}