@using DebtSnowballer.Shared.DTOs
@using DebtSnowballer.Client.Services

@inject ISnowflakeService SnowflakeService

<br/>
<br/>

<h3>Snowflake Management</h3>

@if (Snowflakes == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
		<tr>
			<th>Id</th>
			<th>Frequency</th>
			<th>Amount</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var snowflake in Snowflakes)
		{
			<tr>
				<td>@snowflake.Id</td>
				<td>@snowflake.Frequency</td>
				<td>@snowflake.Amount</td>
			</tr>
		}
		</tbody>
	</table>
}

@code {
	[Parameter]
	public List<SnowflakeDto> Snowflakes { get; set; }
}

