@using DebtSnowballer.Shared.DTOs
@using DebtSnowballer.Client.ClientSideServices
@inject ISnowflakeService SnowflakeService

<h3>
	<br>
</h3>

<h3>List all your Snowflakes</h3>
<br>
	<SnowflakeTable Snowflakes="SnowflakesInQuoteCurrency" GetCurrencySymbol="GetCurrencySymbol" LoadSnowflakesInQuoteCurrency="LoadSnowflakesInQuoteCurrency" CalculateData="CalculateData" IsReadOnly="false"/>

	<h3>
		<br> <br>
	</h3>

	<h3>Debts converted to base currency</h3>
	<br>
	<SnowflakeTable Snowflakes="SnowflakesInBaseCurrency" GetCurrencySymbol="GetCurrencySymbol" LoadSnowflakesInQuoteCurrency="LoadSnowflakesInQuoteCurrency" CalculateData="CalculateData" IsReadOnly="true"/>

@code {

	[Parameter]
	public List<SnowflakeDto> SnowflakesInQuoteCurrency { get; set; }

	[Parameter]
	public List<SnowflakeDto> SnowflakesInBaseCurrency { get; set; }

	[Parameter]
	public Func<string, string> GetCurrencySymbol { get; set; }

	[Parameter]
	public Func<Task> LoadSnowflakesInQuoteCurrency { get; set; }

	[Parameter]
	public Func<Task> CalculateData { get; set; }

}