@page "/Debt"
@using DebtSnowballer.Shared.DTOs
@using DebtSnowballer.Client.Services
@inject IDebtService DebtService
@attribute [Authorize]

<h3>Manage Your Debt</h3>

<DebtTable LoanItems="_loanItems" EditLoanItem="LoadLoanItem" DeleteLoanItem="DeleteLoanItem"/>

<button class="btn btn-success" @onclick="NewLoanItem">Add New Loan</button>

@if (_selectedDebtItem != null)
{
	<h3>@(_selectedDebtItem.Id == 0 ? "Add Loan" : "Edit Loan")</h3>

	<DebtForm DebtItem="_selectedDebtItem" OnSave="LoadLoanItems"/>
}

@code {
	private List<DebtDto> _loanItems;
	private DebtDto _selectedDebtItem;

	protected override async Task OnInitializedAsync()
	{
		await LoadLoanItems();
	}

	private async Task LoadLoanItems()
	{
		_loanItems = (await DebtService.GetDebts()).ToList();
	}

	private void NewLoanItem()
	{
		_selectedDebtItem = new DebtDto();
	}

	private async Task LoadLoanItem(int id)
	{
		_selectedDebtItem = await DebtService.GetDebtById(id);
	}

	private async Task DeleteLoanItem(int id)
	{
		await DebtService.DeleteItem(id);
		await LoadLoanItems();
	}

}