@page "/Debt"
@using DebtSnowballer.Shared.DTOs
@using DebtSnowballer.Client.Services
@inject IDebtService DebtService
@inject IUserService UserService
@attribute [Authorize]

<h3>Manage Your Debt</h3>

<DebtTable LoanItems="loanItems" EditLoanItem="LoadLoanItem" DeleteLoanItem="DeleteLoanItem"/>

<button class="btn btn-success" @onclick="NewLoanItem">Add New Loan</button>

@if (_selectedDebtItem != null)
{
	<h3>@(_selectedDebtItem.Id == 0 ? "Add Loan" : "Edit Loan")</h3>

	<DebtForm DebtItem="_selectedDebtItem" OnSave="LoadLoanItems"/>
}

@code {
	private List<DebtDto> loanItems;
	private DebtDto _selectedDebtItem;
	private string _userSud;

	protected override async Task OnInitializedAsync()
	{
		_userSud = await UserService.GetUserSUD();
		await LoadLoanItems();
	}

	private async Task LoadLoanItems()
	{
		loanItems = (await DebtService.GetDebtbyAuth0UserId(_userSud)).ToList();
	}

	private void NewLoanItem()
	{
		_selectedDebtItem = new DebtDto();
	}

	private async Task LoadLoanItem(int id)
	{
		_selectedDebtItem = await DebtService.GetDebtByIdAndAuth0UserId(id, _userSud);
	}

	private async Task DeleteLoanItem(int id)
	{
		await DebtService.DeleteItem(id);
		await LoadLoanItems();
	}

}