@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Debt Free Planner!</h1>

<img src="img/logo.jpg" alt="Logo">

<AuthorizeView>
	<Authorized>
		<p>Start planning your journey to financial freedom today. Add your loans, choose a payoff strategy, and track your progress towards being debt free.</p>
	</Authorized>
	<NotAuthorized>
		<p>Please log in to start planning your journey to financial freedom.</p>
	</NotAuthorized>
</AuthorizeView>


<h1>Definition</h1>

<div class="container">
	<h3>Debt Snowball</h3>
	<p>Debt Snowball is a strategy for paying down debts, popularized by personal finance author Dave Ramsey. In this method you would:</p>
	<ol>
		<li>List all your debts.</li>
		<li>Order them by smallest balance first (Strict Debt Snowball) or largest interest rate first (Debt Avalanche).</li>
		<li>You pay the minimum on all loans except for the one towards the top, which you would put any extra that you have towards that one.</li>
		<li>Once you pay off a loan, you will now put the extra amount towards the loan next on the list, and so on, until you pay all of it off.</li>
	</ol>

	<h3>Strict Debt Snowball</h3>
	<p>Here, you will pay off the loan with the smallest balance first. In this strategy, you will pay more interest compared to Debt Avalanche. The idea is to be motivated as you will cancel your debts.</p>

	<h3>Debt Avalanche</h3>
	<p>In this strategy, you will first pay off the loan with the largest interest rate first. The main benefit is that you would pay the least amount in interest, making it the most “logical” choice compared to Strict Debt Snowball. But as Dave Ramsey points out, you did not get deep into debt because you were making logical decisions.</p>

	<h3>Custom Snowball</h3>
	<p>If after applying a strict debt snowball or avalanche, you can make adjustments to the order. This is called a Custom Snowball.</p>

	<h3>Debt Snowflake</h3>
	<p>The making extra payments on your debts whenever you have extra money, such as a bonus or Aguinaldo (13th-month pay).</p>
</div>