@page "/Tragedy"
@page "/TragedyManagement"
@page "/debtstrategy"
@attribute [Authorize]

<PageTitle>Tragedy Management</PageTitle>

<h1>Debt Payoff Strategy</h1>

<p>Here you can manage your debt payoff strategy.</p>
<!-- The rest of your page content goes here -->

@code {

}
