@page "/Debt"
@using DebtSnowballer.Shared.DTOs
@using DebtSnowballer.Client.Services
@inject HttpClient HttpClient
@inject IConfiguration Configuration
@attribute [Authorize]

<h3>Manage Your Debt</h3>

<DebtTable LoanItems="loanItems" EditLoanItem="LoadLoanItem" DeleteLoanItem="DeleteLoanItem"/>

<button class="btn btn-success" @onclick="NewLoanItem">Add New Loan</button>

@if (_selectedDebtItem != null)
{
	<h3>@(_selectedDebtItem.Id == 0 ? "Add Loan" : "Edit Loan")</h3>

	<DebtForm DebtItem="_selectedDebtItem" OnSave="LoadLoanItems"/>
}

@code {
	private List<DebtDto> loanItems;
	private DebtDto _selectedDebtItem;
	private IGenericService<DebtDto> LoanService;

	protected override async Task OnInitializedAsync()
	{
		var fullUrl = Configuration["ApiEndpoint:Url"] + "Debt";
		LoanService = new GenericService<DebtDto>(HttpClient, fullUrl);
		await LoadLoanItems();
	}

	private async Task LoadLoanItems()
	{
		loanItems = await LoanService.GetItems();
	}

	private void NewLoanItem()
	{
		_selectedDebtItem = new DebtDto();
	}

	private async Task LoadLoanItem(int id)
	{
		_selectedDebtItem = await LoanService.GetItem(id);
	}

	private async Task DeleteLoanItem(int id)
	{
		await LoanService.DeleteItem(id);
		await LoadLoanItems();
	}

}