@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Debt Free Planner!</h1>

<AuthorizeView>
    <Authorized>
        <p>Start planning your journey to financial freedom today. Add your loans, choose a payoff strategy, and track your progress towards being debt free.</p>
    </Authorized>


    <NotAuthorized>
        <p>Please log in to start planning your journey to financial freedom.</p>
    </NotAuthorized>
</AuthorizeView>