@using DebtSnowballer.Shared.Currency
<h3>Select your base currency</h3>
<p>All loans will be converted to your base currency, all calculations and reports will also be made on this currency.</p>
<br>

<select  @oninput="OnChange">
	@foreach (CurrencyInfo currency in _currencies)
	{
		<option value="@currency.AlphaCode">@currency.Name (@currency.AlphaCode)</option>
	}
</select>

<br>
<br>

@code {
	[Parameter]
	public string SelectedCurrency { get; set; }

	[Parameter]
	public EventCallback<string> SelectedCurrencyChanged { get; set; }

	private List<CurrencyInfo> _currencies = Currencies.All;

	private async Task OnChange(ChangeEventArgs e)
	{
		string newCurrency = e.Value.ToString();
		if (newCurrency != SelectedCurrency)
		{
			SelectedCurrency = newCurrency;
			await SelectedCurrencyChanged.InvokeAsync(SelectedCurrency);
		}
	}
}