@using DebtSnowballer.Shared.DTOs
<div class="modal fade" id="debtFormModal" tabindex="-1" role="dialog" aria-labelledby="debtFormModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header text-center">
				<h4 class="modal-title w-100 font-weight-bold">@(DebtItem.Id == 0 ? "Add Loan" : "Edit Loan")</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="CancelEdit">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body mx-3">
				<EditForm Model="DebtItem" OnValidSubmit="SaveLoanItem" @key="DebtItem">
					<DataAnnotationsValidator/>
					<ValidationSummary/>
					<!-- Add your form fields here -->
					<!-- Example: -->
					<div class="md-form mb-5">
						<i class="fas fa-tag prefix grey-text"></i>
						<InputText id="LoanNickName" class="form-control validate" @bind-Value="DebtItem.LoanNickName"/>
						<label data-error="wrong" data-success="right" for="LoanNickName">Loan Nickname</label>
					</div>
					<!-- Add the rest of your form fields in the same way -->
				</EditForm>
			</div>
			<div class="modal-footer d-flex justify-content-center">
				<button type="submit" class="btn btn-success">@(DebtItem.Id == 0 ? "Add" : "Update")</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="CancelEdit">Cancel</button>
			</div>
		</div>
	</div>
</div>

@code {

	[Parameter]
	public DebtDto DebtItem { get; set; }

	[Parameter]
	public EventCallback<DebtDto> OnSave { get; set; }

	[Parameter]
	public EventCallback OnCancel { get; set; }

	private async Task SaveLoanItem()
	{
		await OnSave.InvokeAsync(DebtItem);
	}

	private void CancelEdit()
	{
		OnCancel.InvokeAsync();
	}

}