@using DebtSnowballer.Shared.DTOs
@using Microsoft.AspNetCore.Components.Forms

<div class="modal" tabindex="-1" style="display: @(Visible ? "block" : "none");">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(DebtItem.Id == 0 ? "Add Loan" : "Edit Loan")</h5>
                <button type="button" class="btn-close" @onclick="CancelEdit"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="@DebtItem" OnValidSubmit="HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group">
                        <label for="LoanNickName">Loan NickName</label>
	                    <InputText id="LoanNickName" @bind-Value="DebtItem.LoanNickName" class="form-control" placeholder="Loan NickName" />
                    </div>

                    <div class="form-group">
                        <label for="RemainingPrincipal">Remaining Principal</label>
                        <InputNumber id="RemainingPrincipal" @bind-Value="DebtItem.RemainingPrincipal" class="form-control" placeholder="Remaining Principal" />
                    </div>

                    <div class="form-group">
                        <label for="interestRate">Interest Rate</label>
                        <InputNumber id="interestRate" @bind-Value="DebtItem.InterestRate" class="form-control" placeholder="Interest Rate" />
                    </div>

                    <div class="form-group">
                        <label for="fees">Fees</label>
                        <InputNumber id="fees" @bind-Value="DebtItem.Fees" class="form-control" placeholder="Fees" />
                    </div>

                    <div class="form-group">
                        <label for="monthlyPayment">Monthly Payment</label>
                        <InputNumber id="monthlyPayment" @bind-Value="DebtItem.MonthlyPayment" class="form-control" placeholder="Monthly Payment" />
                    </div>

                    <div class="form-group">
                        <label for="remainingTerm">Remaining Term</label>
                        <InputNumber id="remainingTerm" @bind-Value="DebtItem.RemainingTerm" class="form-control" placeholder="Remaining Term" />
                    </div>

                    <div class="form-group">
                        <label for="currency">Currency</label>
                        <InputText id="currency" @bind-Value="DebtItem.CurrencyCode" class="form-control" placeholder="Currency" />
                    </div>


                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" @onclick="CancelEdit">Cancel</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public DebtDto DebtItem { get; set; }

    [Parameter]
    public EventCallback<DebtDto> OnSave { get; set; }

    [Parameter]
    public EventCallback CancelEdit { get; set; }

    [Parameter]
    public bool Visible { get; set; }

    private async Task HandleValidSubmit()
        {
        await OnSave.InvokeAsync(DebtItem);
        }
}
